#browse {
    width: 85%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    padding-top: 12px;
}

.BrowseHeader {
    font-size: 32px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #browse {
        display: flex;
    }
}