#hot-books {
    padding-top: 12px;
    gap: 2%;
    width: 85%;
    margin: 0px auto;
}

.hot-books-header {
    text-align: center;
}

@media only screen and (min-width: 768px ){
    #hot-books {
        display: flex;
    }
}