#header {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    background: #fcfcf3;
    padding: 10px;
    position: relative;
}

body {
    background: #F2D6A2;
}

body {
    margin: 0;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    #header {
        display: flex;
        text-align: left;
        justify-content: space-around;
    }

    #layoutCenter {
    display: flex;
    align-items: center;
}
}