#header {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    background: #fcfcf3;
    padding: 10px;
    position: relative;
}

body {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    #header {
        display: flex;
        text-align: left;
        justify-content: space-around;
    }
}