.arrow {
    color: black;
    text-decoration: none;
    size: 2em;
    position: absolute;
    top: 50%;
    background: rgb(250, 250, 250, 0.8);
    border-radius: 3px;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

#right-arrow {
    right: 5%;
}

#left-arrow {
    left: 5%;
}

#slideshow {
    position: relative;
    display: flex;
    padding-bottom: 24px;
    max-width: 100%;
}

#hide-small {
    display: none;
}

.slideshow img {
    max-width: 100%;
    width: 400px;
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 1000px ) {
    #hide-small {
        display: block;
    }
}